body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.bg-nendo {
  background-color: #F2F2F2;
}

.bg-nendo-green {
  background-color: #e2e7e2;
}

.bg-nendo-dark {
  background-color: #7E8C74;
}

.bg-nendo-light {
  background-color: #CBD9C1;
}
.bg-nendo-mid {
  background-color: #e9e9e9;
}

.btn:hover {
  background-color: #7E8C74;
}

.dropdown:hover .dropdown-menu {
  display: block;
  margin-top: 0;
}

.dropdown-item.active {
  background-color: #CBD9C1;
  color: black;
}
.dropdown-menu {
  --bs-dropdown-link-active-bg: #CBD9C1;
}

.list-group-item-success {
  background-color: #F2F2F2;
}

.btn-cart:hover {
  background-color: #7E8C74;
}

.wrapper {
  width: 320px;
  height: 400px;
  background: white;
  margin: auto;
  position: relative;
  overflow: hidden;
  border-radius: 10px 10px 10px 10px;
  box-shadow: 0;
  transform: scale(0.95);
  transition: box-shadow 0.5s, transform 0.5s;
}
.wrapper:hover{
  transform: scale(1);
  box-shadow: 5px 20px 30px rgba(0,0,0,0.2);
}

.containerN{
  width:100%;
  height:100%;
}

.bottom{
  height: 20%;
}



